# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains maintainer-specific config files.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.g.dart
lib/generated_plugin_registrant.dart
lib/plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/macOS related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*backup.xcworkspace
**/ios/**/*ccmacros
**/ios/**/*.xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Crashlytics helper (if present)
ios/Pods/
ios/.symlinks/

# MacOS
**/macos/Flutter/ephemeral
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc

# Linux
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc

# Exceptions to above rules.
!**/ios/**/*.xcworkspace

# Google Services & secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
android/app/release-keystore.jks
android/key.properties
macos/Runner/GoogleService-Info.plist
